* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

main h1 {
  /* font-weight: 20px; */
  text-align: center;
  margin-top: 30px;
}

#course-title {
  display: block;
  background-color: rgb(12, 48, 94);
  height: 50px;
  text-align: center;
  align-content: center;
  color: #fff;
}

.header-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: black;
  /* gap: 100px; */
}

.header-links a {
  text-decoration: none;
  color: #fff;
}

.header-links a:hover {
  color: tomato;
}

h1 {
  font-size: 30px;
  /* font-weight: 400px; */
  text-align: center;
  padding: 20px;
  /* margin-bottom: 20px; */
}

main {
  max-width: 800px;
  /* align-items: center; */
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.main-div {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 10px;
  border-radius: 5px;
}

.main-div h2 {
  background-color: rgb(12, 48, 94);
  color: #fff;
  /* width: 100%; */
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}

.main-div h3 {
  /* width: 50%; */
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
}

.card1-text {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  gap: 30px;
}

.card1 img {
  width: 70px;
}

.card2 img {
  width: 85px;
}

.card2-text {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  gap: 10px;
}

.main-div2 {
  width: 300px;
  height: 400px;
  /* margin-left: 50px; */
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.main-div2 h4 {
  background-color: rgb(12, 48, 94);
  color: #fff;
  /* width: 100%; */
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}

.main-div2 .resources {
  height: 420px;
  /* flex-direction: column; */
}

.resources a {
  /* width: 200px; */
  height: 30px;
  display: flex;
  text-decoration: none;
  padding: 10px;
}

footer {
  background-color: rgb(12, 48, 94);
  text-align: center;
  color: #fff;
}

#lastModified {
  color: orange;
}