* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* mobile **************************/
header{
    /* margin: 0; */
    /* padding: 0; */
    background-color: #bbb;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

h2 {
    font-weight: 100;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid #fff;
    color: orange;
}

.active {
    color: yellow;
}

/*Lager View */
@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}