/* Larger Views ******************************/
@media (max-width: 600px) {
  header {
    height: auto;
    display: flex;
    position: relative;
    background-color: #bbb;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
  }

  .hamburger {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .hamburger span {
    height: 3px;
    background: black;
    border-radius: 2px;
  }

  .nav-menu {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 60px;
  }

  .nav-menu a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }

  .nav-menu a {
    display: block;
    /* flex: 1 1 100%; */
  }

  .nav-menu a:hover {
    text-decoration: none;
    background-color: #bbb;
    color: #333;
    font-weight: 700;
  }

  .nav-menu.active {
    width: 100%;
    display: block;
  }

  h1 {
    font-size: 2rem;
  }

  nav {
    background-color: #36454f;
  }

  nav ul {
    list-style: none;
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .temples-gallery {
    grid-template-columns: 1fr;
  }

  .hamburger span {
    height: 3px;
    background: black;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}